._label {
    &-box {
        display: flex;
        align-items: center;
        gap: 29px;
        &-item {
            display: flex;
            align-items: center;
            gap: 10px;
            
            font-weight: $base-weight;
            font-size: 24px;
            font-weight: 700;
            
            svg {
                width: 30px;
            }
            @media (max-width: 1400px) {
                svg {
                    width: 24px;
                }
                font-size: 19px;
            }
        }
    }
    &-title {
        font-weight: 400;
        font-size: 96px;
        color: #6d0000;
        text-align: center;
        font-family: $second-family;
        @media (max-width: 768px) {
            font-size: 55px;
        }
    }
    &-phone {
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 21px;
        a {
            font-weight: 600;
            font-size: 14px;
            text-align: center;
        }
    }
    
    &-search {
        display: flex;
        align-items: center;
        padding-left: 14px;
        border: 1px solid #6d0000;
        border-radius: 5px;
        width: 100%;
        padding-right: 12px;
        max-width: 354px;
        background: #f9f4f0;
        height: 40px;
        gap: 10px;
        position: relative;
        @media (max-width: 1400px) {
            max-width: 257px;
        }
        button {
            display: flex;
            align-items: center;
        }
        input {
            width: 100%;
            background-color: transparent;
            height: 100%;

            font-weight: 400;
            font-size: 20px;
            &::placeholder {
                color: #6d0000;
            }
        }
    }
}
