$font-family: "Montserrat", sans-serif;
$second-family: "Cormorant", sans-serif;

$base-size: 16px;
$base-weight: 400;

$white: #fff;
$red: #d4010a;
$bg-color: #fcf8f7;

$font-family: "Philosopher", sans-serif;
$second-family: "Playfair", sans-serif;
$third-family: "Inter", sans-serif;
