.about {
    text-align: center;
    padding-bottom: 50px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        h1 {
            font-weight: $base-weight;
            font-size: 96px;
            color: #6d0000;
        }

        p {
            font-weight: $base-weight;
            font-size: 24px;
        }
    }
    &__info {
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        gap: 68px;
        justify-content: space-between;
    }
    &__btn {
        margin: 0 auto;
        padding: 26px 34px;
        border: 2px solid #6d0000;
        background: #fff;
        max-width: 450px;

        font-weight: 600;
        font-size: 40px;
        color: #6d0000;
        transition: all 0.5s ease-in-out;

        &:hover {
            background: #6d0000;
            color: #fff;
        }
    }
}
