.about {
    text-align: center;
    padding-bottom: 50px;
    &__container {
        display: flex;
        @media (max-width: 1440px) {
            width: 100%;
            max-width: 100%;
        }
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        h1 {
            font-weight: $base-weight;
            font-size: 96px;
            color: #6d0000;
            @media (max-width: 1320px) {
                font-size: 55px;
            }
        }

        p {
            font-weight: $base-weight;
            font-size: 24px;
        }
    }
    &__image {
        width: 100%;
        max-width: 759px;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            max-height: 653px;
        }
        @media (max-width: 992px) {
            display: none;
        }
    }
    &__info {
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 638px;

        gap: 68px;
        @media (max-width: 1320px) {
            gap: 30px;
            padding-right: 0;
        }
        @media (max-width: 992px) {
            max-width: 100%;
            padding: 50px 10px;
        }
        justify-content: space-between;
    }
    &__btn {
        margin: 0 auto;
        padding: 26px 34px;
        border: 2px solid #6d0000;
        border-radius: 5px;
        background: #6d0000;
        max-width: 450px;

        font-weight: 600;
        font-size: 40px;
        color: #fff;
        transition: all 0.5s ease-in-out;
        @media (max-width: 1320px) {
            padding: 15px 25px;
            font-size: 29px;
        }
        &:hover {
            background: #fff;
            color: #6d0000;
        }
    }
}
