.advantages {
    padding: 50px 0;
    &__list {
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        &-item {
            position: relative;
            p {
                font-family: $font-family;
                font-weight: 500;
                font-size: 32px;
                color: #000;
            }
            padding-left: 40px;
            margin-right: auto;
        }
        &-item.right {
            margin: 0;
            margin-left: auto;
            padding-left: 0;
            padding-right: 80px;
            .advantages__number {
                left: -50%;
                transform: translateX(50%);
            }
        }
    }
    &__number {
        position: absolute;
        bottom: 0;
        left: 0;
        font-family: $second-family;
        font-weight: 400;
        font-size: 128px;
        color: #6d0000;
        opacity: 0.3;
    }
}
