.reception {
    padding: 58px 0;
    &__container {
        display: flex;
        flex-direction: column;
        gap: 64px;
        ol {
            width: 100%;
            max-width: 1288px;
            margin: 0 auto;
            counter-reset: item;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 50px;
            li {
                font-family: $third-family;
                font-weight: 400;
                font-size: 30px;

                counter-increment: item;
                position: relative;
                padding-left: 49px;

                &::before {
                    content: counter(item); /* 👈 Без точки! */
                    position: absolute;
                    left: 0;
                    top: -16px;
                    font-size: 48px;
                    opacity: 0.5;
                    color: #6d0000;
                }
            }
        }
    }
}
